<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Control center</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container-fluid text-center">

    <h1>Welcome</h1>
    <a class = "h3" th:href="@{/add/plus}">To add page</a>
    <a class="h3" th:href="@{/cart}">Cart</a>
    <br>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <th>ID</th>
            <th>Product image</th>
            <th>Product name</th>
            <th>Product price</th>
            <th>Detail</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
            <th:block th:each="prod : ${list_production}">
                <tr>
                    <td>[[${prod.id}]]</td>
                    <td scope="row"> <img th:src="*{'data:image/png image/jepg image/jpg;base64,'+prod.product_image }" style="width: 100px;height: 100px;"></td>
                    <td>[[${prod.product_name}]]</td>
                    <td>[[${prod.product_price}]]</td>
                    <td><a th:href="@{'/show-detail/'+ ${prod.id}}">Xem chi tiết</a></td>
                    <td><a th:href="@{'/add/edit/'+ ${prod.id}}">Chỉnh sửa</a></td>
                    <td><a th:href="@{'/add/delete/'+ ${prod.id}}">Xóa</a></td>
                </tr>
            </th:block>
        </tbody>
    </table >

    <a class = "h3" th:href="@{/add-new-type}">To add new types</a>

    <table class="table table-bordered">
        <thead class="thead-dark">
            <th>ID</th>
            <th>Title</th>
        </thead>
        <tbody>
            <th:block th:each="types : ${list_types}">
                <tr>
                    <td>[[${types.id}]]</td>
                    <td>[[${types.title}]]</td>
                </tr>
            </th:block>
        </tbody>
    </table>
</div>
</body>
</html>